{% extends 'base.html.twig' %}
{% block page_title %}Nouveau projet{% endblock %}
{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button button-submit">Continuer</button>
{{ form_end(form) }}

{% endblock %}